/* .rowProduct{
    display: inline-flex;
    margin-left: 0%;
    margin-right: 2.5%;
    width: 82%;
}
.card{
    display: flex;
} */

.bg-col{
    background-color: rgba(252,102,0,255)    ;
    /* opacity: 0.85; */
}

.bg-col2{
    background-color: rgba(250,187,58,255)
    ;
    padding-left: 1.3rem;
}
.card{
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;
}

h4{
    padding: 1.3rem 1.3rem 1.3rem 0;
}