/* .rowProduct{
    display: inline-flex;
    margin-left: 0%;
    margin-right: 2.5%;
    width: 82%;
}
.card{
    display: flex;
} */

.bg-col{
    background-color:  rgb(245,194,88);
    /* position: fixed ; */
    /* opacity: 0.85; */
}

.bg-col2{
    background-color:  rgb(225,125,7)


    ;
    padding-left: 1.3rem;
}
.card{
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;
}

h4{
    padding: 1.3rem 1.3rem 1.3rem 0;
}

.bg-col-boy{
    background-color: rgba(174,218,229,255);
    /* position: fixed; */

}

.bg-col-boy2{
    background-color: rgb(125,140,140)
    ;
    padding-left: 1.3rem;
}

